/*START of configure environment page css classes*/
@media all and (min-width: 968px){
.mstr-config-table {
    table-layout: auto;
//   width: 1028px;
	//margin: 0 auto;
	 
	//width : 950px; 
	
	}
}

@media all and (max-width:768px)
{
.mstr-config-table {
    table-layout: auto;
//   width: 1028px;
	margin: 0 auto;	 
	width : 768px;
	}
}

.main_config_div{	
	overflow-y:visible;
}

.IServerDefaults_LHSBox{
	position: absolute; 
	padding: 10px;
	width: 42%;
	border-right: 1px;
	border-right-color: #AAA; 
	border-style: solid;
	border-top: 0px;
	border-left: 0px;
	border-bottom: 0px;
}

.IServerDefaults_RHSBox{
	left: 45%;
	top:10%;
	position: absolute;
	 padding: 10px; 
	 width:50%;
}

.IServerDefaultsBox{
	height: 350px; 
	width: 100%;
	position: relative;
	background: white;
	background-color: #FAFAFA;
}

.SecurityConfigBox{
	height: 420px; 
	width: 100%;
	position: relative;
	background: white;
	background-color: #FAFAFA;
}

.SecurityLHSBox{
	position: absolute; 
	padding: 10px;
	width: 42%;
}

.SecurityRHSBox{
	left: 45%;
	top:-3%;
	position: absolute; 
	padding: 10px; 
	width:50%;
	border-left: 1px;
	border-left-color: #AAA; 
	border-style: solid;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;"
}

.DiagnosticBox{
	height: 500px; 
	width: 100%;
	position: relative;
	background: white;
	background-color: #FAFAFA;
}

.WebServerConfiguration{
	position:relative;	
}

.OfficeConfig{
	position: absolute; 
	padding: 10px;
	width: 100%;
}

.WidgetDeploymentBox{
	position: absolute; 
	padding: 10px;
	width: 98%;
}

.mstrmojo-dnd-avatar {
	position: absolute;	
	min-width: 15px;
	min-height:15px;
	z-index: 1000;
	margin: 24px 0 0 24px;
	display: none;
	cursor:pointer;
}

.mstrmojo-dnd-avatar-inner {
	padding: 3px;
	min-width: 15px;
	min-height:15px;	
	background:url(images/IPA/machine_normal.gif)repeat-x scroll left 0px;	
	border:none;	
	cursor:pointer;
}

.mstr-left-column {
    width: 0px;
    vertical-align: top;
    empty-cells: hide;
    padding-top: 0px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #AAA;
	border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #AAA;
}

.mstr-right-column {
    empty-cells: hide;
    width: 100%;
    vertical-align: top;
}

.mstr-left-div {
    width: 245px;
    display: block;
    position: relative;
    vertical-align: top;
    padding: 0px;
}

.mstr-right-div {
    display: block;
    height: auto;
    margin: 0px;
    overflow: visible;
    padding: 6px;
    white-space: normal;
}

.mstrmojo-leftcolumn-table {
    width: 210px;
    border: 0px;
    padding: 6px;
}

.mstrmojo-IPA-label {
    color: #C00;
    font-weight: bold;
}

/*
 * TQMS 654979
 */

.mstrmojo-left-pad-button {
    padding-left: 3px;
    padding-top: 4px;
}
.mstrmojo-left-pad-button.selected {
	color: #C00 !important;
	font-weight: bold;
}

.mstrmojo-left-unpad-labels {
    padding-top: 15px;
    font-size: 8pt;
    font-weight: bold;
}

.mstrmojo-rightcolumn-label {
    font-size: 10pt;
    font-weight: bold;
    color: #C00;
    padding-left: 10px;
}

.mstrmojo-rightcolumn-vbox {
    display: block;
}

.mstrmojo-IPAAddServerManually {	
	margin-bottom:10px;
	margin-top:10px;
	margin-left:10px;	
}

.mstrmojo-IPAAddEnvironmentManually {	
	margin-bottom:10px;
	margin-top:10px;
	margin-left:10px;	
}

.mstrmojo-IPABuildEnvironmentsVBox{
	margin:10px;
	width:700px;	
	border:ridge;
	border-color:grey;
	border-width:1px;
	border-shadow:1px;
	border-shadow-fade:50%;
}

.mstrmojo-IPACreateEnvHeaderTable{
	width:700px;	
}

.mstrmojo-informative-label {
	width:95%;
    padding-left: 10px;
    padding-top: 3px;
	text-align:justify;
	display:block;
}

.mstrmojo-DragAndDropStatusLabel{
	margin-left:11px;
	color:red;	
	font-weight:bold;
	width:200px;
}

.mstrmojo-envBufferHBox{
   	 width:20px;
}

.mstrmojo-collapsiblepanel-rightside-title {	
    font-weight: bold;
    padding-left: 10.5px;
}

.mstrmojo-collapsiblepanel-rightside {
    padding-top: 10px;
    padding-bottom: 10px;
    width:700px;   
}



/* Begin of Divyanshu */


.mstrmojo-Add-Environment-Manually {    
	margin-left: 5px;
    margin-top: 10px;    
    background-color:#E4E4E4; 
    border-radius:5px;
    border:1px solid #AAAAAA;
}
.mstrmojo-Add-Environment-Manually-title {
	
	width:100%;
	height : 30px;	
	padding-top:8px;
	border-radius:5px;
	margin:0px;
	font-family: Tahoma;	
	font-size: 1.2em;
	font-weight: bold;
	/*
	padding-left:10px;
	padding-top:18px;
	*/
	border-radius:5px;
	margin:0px;
	font-family: Tahoma;	
	font-size: 1.2em;
	font-weight: bold;
	color: #6e6d6d;
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ededed 37%, #d0cece 81%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(37%,#ededed), color-stop(81%,#d0cece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 37%,#d0cece 81%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 37%,#d0cece 81%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 37%,#d0cece 81%); /* IE10+ */
	background: linear-gradient(top,  #ededed 37%,#d0cece 81%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d0cece',GradientType=0 ); /* IE6-9 */
	border-color: #848484; /* Old browsers */
	border-color: -moz-linear-gradient(top,  #ededed 37%, #d0cece 81%); /* FF3.6+ */
	border-color: -webkit-gradient(linear, left top, left bottom, color-stop(37%,#ff0000), color-stop(81%,#dd0000)); /* Chrome,Safari4+ */
	border-color: -webkit-linear-gradient(top,  #ff0000 37%,#dd0000 81%); /* Chrome10+,Safari5.1+ */
	border-color: -o-linear-gradient(top,  #ff0000 37%,#dd0000 81%); /* Opera 11.10+ */
	border-color: -ms-linear-gradient(top,  #ff0000 37%,#d0cece 81%); /* IE10+ */
	border-color: linear-gradient(top,  #ff0000 37%,#d0cece 81%); /* W3C */
	text-shadow: #FFFFFF 1px 1px 1px;   
	box-shadow: 1px 2px 2px #848484;
}

.mstrmojo-mha-panel {
    margin-left: 10px;
    margin-top: 10px;    
    background-color:#828282;
    border-radius:5px;
    width:720px;
    color:#fefcfc;   
    border:1px solid #767676; 
}

.mstrmojo-mha-title{	
	width:710px;	
	height:40px;
	padding-left:10px;
	padding-top:18px;
	border-radius:5px;
	background: -moz-linear-gradient(top,  #767676 37%, #4d4d4d 81%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(37%,#767676), color-stop(81%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #767676 37%,#4d4d4d 81%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #767676 37%,#4d4d4d 81%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #767676 37%,#4d4d4d81%); /* IE10+ */
	background: linear-gradient(top,  #767676 37%,#4d4d4d 81%); /* W3C */
	
	border-color: #848484; /* Old browsers */
	border-color: -moz-linear-gradient(top,  #ededed 37%, #d0cece 81%); /* FF3.6+ */
	border-color: -webkit-gradient(linear, left top, left bottom, color-stop(37%,#ff0000), color-stop(81%,#dd0000)); /* Chrome,Safari4+ */
	border-color: -webkit-linear-gradient(top,  #ff0000 37%,#dd0000 81%); /* Chrome10+,Safari5.1+ */
	border-color: -o-linear-gradient(top,  #ff0000 37%,#dd0000 81%); /* Opera 11.10+ */
	border-color: -ms-linear-gradient(top,  #ff0000 37%,#d0cece 81%); /* IE10+ */
	border-color: linear-gradient(top,  #ff0000 37%,#d0cece 81%); /* W3C */
	text-shadow: black 1px 1px 1px;
	box-shadow: 1px 2px 2px #484848;	   
	}
	
.mstrmojo-add-server-manually-title{
	width:100%;
	height : 30px;	
	padding-top:8px;
	border-radius:5px;
	margin:0px;
	font-family: Tahoma;
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	background: -moz-linear-gradient(top,  #d9d9d9 37%, #b2b2b2 81%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(37%,#d9d9d9), color-stop(81%,#b2b2b2)); /* Chrome,Safari4+ */		
	background: -webkit-linear-gradient(top,  #d9d9d9 37%, #b2b2b2 81%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d9d9d9 37%, #b2b2b2 81%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d9d9d9 37%, #b2b2b2 81%); /* IE10+ */
	background: linear-gradient(top,  #d9d9d9 37%, #b2b2b2 81%); /* W3C */
	
	border-color: -webkit-linear-gradient(top,  #ff0000 37%,#dd0000 81%); /* Chrome10+,Safari5.1+ */	
	
	}
	
.mstrmojo-add-server-manually-panel{
	margin-left: 8px;    
    background-color:#F0FAFD;    
    width:334px;  
    border-left:1px solid #B6B6B6;  
    border-right:1px solid #B6B6B6;    
	}
	
.mstrmojo-Available-Server {    
  	margin-left: 8px;
    margin-top: 0px;
    margin-bottom:0px;
    background-color:#E3E3E3;        
    /*width:335px; */
    border-radius:0px;    
    border:none;
    border-left:1px solid #B6B6B6;
	border-right:1px solid #B6B6B6;
}

.mstrmojo-Available-Mobile-Server {    
  	margin-left: 8px;
    margin-top: 0px;
    margin-bottom:8px;
    background-color:#E3E3E3;        
    /*width:335px; */
    border-radius:0px;    
    border:none;
    border-left:1px solid #B6B6B6;
	border-right:1px solid #B6B6B6;
}

.mstrmojo-Env-Server {    
  	margin-left: 6px;
    margin-top: 0px;
    margin-bottom:0px;
    background-color:#E3E3E3;        
    width:355px;
    border-radius:0px;    
    border:none;
    border-left:1px solid #B6B6B6;	
    border-top-left-radius : 5px;	
}

.mstrmojo-Env-Mobile-Server {    
  	margin-left: 6px;
    margin-top: 0px;
    margin-bottom:8px;
    background-color:#E3E3E3;        
    width:355px;
    border-radius:0px;    
    border:none;
    border-left:1px solid #B6B6B6;		
}

.mstrmojo-Intelligent-Server {    
  	margin-left: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:#F0FAFD;        
    width:337px;
    border-radius:0px;
    border:none; 
    border-left:1px solid #B6B6B6;
	border-right:1px solid #B6B6B6;
	border-bottom:1px solid #B6B6B6;
	height:225px;
	margin-bottom:7px;	
}
.mstrmojo-Available-Server-title {	
	height:15px;
	width:324px;
	padding-left:10px;
	padding-top:5px;	
	margin:0px;
	font-family: Tahoma;
	color: black;
	font-size: 1.0em;
	font-weight: bold;
	background:#D5D4D4;	
}
.mstrmojo-Env-Server-title {	
	text-align: left;
	padding-top: 5px;
	padding-bottom: 4px;
	padding-left: 7px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top: 0px solid #B6B6B6;
	border-bottom: 1px solid #B6B6B6;
	background: #EDEDED;
	background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top, #ededed 1%, #d8d8d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* IE10+ */
	font-weight:bold;
	color: black;	
}
.mstrmojo-I-Server-title {	
	height:15px;
	width:327px;
	padding-left:10px;
	padding-top:5px;	
	margin:0px;
	font-family: Tahoma;
	color: black;
	font-size: 1.0em;
	font-weight: bold;
	background:#CFE5EC;		
}


.mstrmojo-DataGrid-envlist{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
    /*width:100%;       
    min-width:720px;
    width:66em;
    min-height: 180px;
    max-height: 160px;
    */
    width:720px;;
    min-height: 180px;
    max-height: 160px;
    border-collapse:collapse;
    border: 1px solid #bababa;
    border-radius: 5px 5px 5px 5px;
    margin-left: 10px;
    margin-top: 10px;					
}

.mstrmojo-CounterPulldown{
	height:350px;
	max-height:none;
	overflow-y: scroll;
}


.mstrmojo-DataGrid-envlist .mstrmojo-DataGrid-itemsScrollBox{
	height:152px;			
	overflow-x: hidden;	
	cursor:default;
}
.mstrmojo-DataGrid-envlist .mstrmojo-DataGrid-itemsContainer{	
	cursor:default;
}

.mstrmojo-DataGrid-envlist .mstrmojo-DataGrid-headerContainer {
	border-radius: 0 0 5px 5px;
}

.mstrmojo-DataGrid-headerContainer td{	
	background: #ededed; /* Old browsers */
    background: -moz-linear-gradient(top, #ededed 1%, #d8d8d8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* W3C */                
}
	
.mstrmojo-DataGrid-envlist .mstrmojo-DataRow td {
	border:0px solid #98bf21;
	padding: 5px 7px 4px 7px;
}

.mstrmojo-DataGrid-envlist tr.alt td {
	background-color:#e6e6e6;
}

.mstrmojo-DataGrid-workspace .mstrmojo-DataGrid-itemsScrollBox{				
	overflow-x: hidden;	
	cursor:default;
}

.mstrmojo-DataGrid-workspaceList .mstrmojo-DataGrid-itemsScrollBox{				
	overflow-x: hidden;	
	cursor:default;
	height:85px;
}
.mstrmojo-configPage-textbox {
	font : 8pt Tahoma, Arial, Verdana;
}

.mstrmojo-mha-icon
{
	width: 75px;
	height: 58px;
	display: block;
	text-indent: -9999px;
	background: url(images/IPA/configuration_page_sprite.png) no-repeat -5px -15px;
}
.mstrmojo-help-icon
{
background-color: transparent;
background-repeat: no-repeat;
cursor: pointer;
margin-left: 3px;
background-image: url(images/buttons.gif);
background-position: -3px -3px;
border: 0px none;
height: 16px;
width: 16px;
}
.mstrmojo-AddEnv-icon
{
	width: 78px;
	height: 58px;
	display: block;
	text-indent: -9999px;
	background: url(images/IPA/configuration_page_sprite.png) no-repeat -96px -17px;
}
.mstrmojo-Drag-icon
{
	width: 34px;
	height: 10px;
	display: block;
	text-indent: -9999px;
	background: url(images/IPA/configuration_page_sprite.png) no-repeat -208px -41px;
}
.remove-button{
	background:url(images/Remove.png) no-repeat right;
	}
.add-button{
	background:url(images/add.png) no-repeat left;
}
.manage-button{
	background:url(images/IPA/manage-icon.png) no-repeat left;
}
.connect-button{
	background:url(images/IPA/connect-icon.png) no-repeat left;
}
.disconnect-button{
	background:url(images/IPA/disconnect-icon.png) no-repeat left;
}

.mstrmojo-Pulldown-iconNode,
.mstrmojo-FormatEditor-DropDownButton-iconNode {
    padding-left:2px;
    padding-right:0px;   
}
.mstrmojo-Tooltip-content {
    background-color:#FFFBE1;
    
  /*  
  #FFFBE1
  FFFEEB
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFCE9), to(#FAF4C3) );
	background-image: -moz-linear-gradient(top, #FFFCE9, #FAF4C3);
	*/
	
    border:1px solid ;
    color:#000000;
    overflow:visible;
    text-align:left;
    white-space:normal; 
    opacity:1;         
}
.mstrmojo-checkBox-button-selected{
    background:url("images/editor-button.png") no-repeat scroll 0 -299px transparent;
}

.mstrmojo-checkBox-button-unselected{
    background:url("images/editor-button.png") no-repeat scroll 0 -280px transparent;
    cursor: pointer;
}
.mstrmojo-envName-TextBox.disabled{
	background:transparent;
	border:none;
	color:black;	
}
.mstrmojo-createEnvironment-fieldset-legend{
	font-weight:bold;
}
.mstrmojo-serverList .mstrmojo-DataGrid-headerText {
    font-weight: bold;
    font-size:1.1em;
    color:black;
    background-color:#ededed;
}
.mstrmojo-serverList .mstrmojo-DataGrid-headerContainer td{    
    background:#ededed;
}

.mstrmojo-buttonBox-Table{
	width:700px;
	border-top:1px solid;
}
/* End of Divyanshu */

.mstrmojo-AddServerManuallyCollapsiblePanel{
	padding-top: 10px;
    padding-bottom: 10px;
    width:95%;   
}

.mstrmojo-mha-table {
    padding-left: 10px;
    padding-top: 10px;	
    padding-bottom: 10px;
}

.mstrmojo-mhatable-labels {
    padding-right: 25px;
    text-align: left;
}

.mstrmojo-connect-manually-RadioButton {
    padding-right: 5px;
}

.mstrmojo-connect-button{
    cursor: pointer;
    width: 70px;
    padding-bottom: 1px;
    margin: 3px;
	margin-left:10px
    padding-left: 1px;
    padding-right: 1px;
    border-color: #EEE #787878 #787878 #EEE;
    border-style: solid;
    background: #D5D6D8 url(images/buttonGradient.gif) repeat-x scroll left 0px;
    height: auto;
    border-width: 1px;
    font-weight: bold;
	text-align:justify;	
}

.mstrmojo-add-button {
    cursor: pointer;
    min-width: 40px;
    padding-bottom: 1px;
    margin: 3px;
    padding-left: 4px;
    padding-right: 1px;
    border-color: #EEE #787878 #787878 #EEE;
    border-style: solid;
    background: #D5D6D8 url(images/buttonGradient.gif) repeat-x scroll left 0px;
    height: auto;
    border-width: 1px;
    font-weight: bold;
	text-align:justify;
}


.mstrmojo-addEnv-button {
    cursor: pointer;
    width: 43px;
    padding-bottom: 1px;
    margin: 5px;	
    padding-left: 2px;
    padding-right: 2px;
    border-color: #EEE #787878 #787878 #EEE;
    border-style: solid;
    background: #D5D6D8 url(images/buttonGradient.gif) repeat-x scroll left 0px;
    height: 22px;
    border-width: 1px;
	font-size:10pt;
    font-weight: bold;
	text-align:center;
}

.mstrmojo-addServer-button {
    cursor: pointer;
    width: 43px;    
    margin: 3px;	
    padding-left: 2px;
    padding-right: 2px;
    border-color: #EEE #787878 #787878 #EEE;
    border-style: solid;
    background: #D5D6D8 url(images/buttonGradient.gif) repeat-x scroll left 0px;
    height: 18px;
    border-width: 1px;
    font-weight: bold;
	text-align:center;
}

.mstrmojo-NoEnvLabel{
	font-weight:bold;
	font-size:9pt;
	color:red;
	padding-left: 10px;
	padding-top: 10px;
    padding-bottom: 5px;
}

.mstrmojo-buildenv-label {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.mstrmojo-buildenv-informative-label {    
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 10px;
}

.mstrmojo-CurrentEnvCollapsiblePanel{
  	margin-top:4px;
  	width:330px;	
	border:ridge;
	border-color:grey;
	border-width:1px;	
}

.mstrmojo-EnvCollapsiblePanel{
  	margin-top:4px;
  	width:320px;	
	border:ridge;
	border-color:grey;
	border-width:1px;
	display:relative;
}

.mstrmojo-EnvTitlePanel{
  	background-color:#c8c8c8;
	color:black;
	font:bold;			
}

.mstrmojo-EnvironmentPanel{	
	margin:10px;		
	border:ridge;
	border-color:grey;
	border-width:1px;
	border-shadow:1px;
	border-shadow-fade:50%;
}

.mstrmojo-CurrentEnvTitlePanel{
  	background-color:#0d4a7d;;
	color:white;
	font:bold;			
}

						
.mstrmojo-DataGrid-envserverlist{
	width:318px;
	height: 80px;	
	overflow: hidden;	
}	
		
.mstrmojo-DataGrid-envserverlist .mstrmojo-DataGrid-headerText{
	height:0px;	
	visibility:hidden;
	overflow-y: hidden;	
}	
		
.mstrmojo-DataGrid-envserverlist .mstrmojo-DataGrid-itemsScrollBox{
	height:130px;		
	overflow-x: hidden;	
}
		
.mstrmojo-DataGrid-newenvserverlist{
	width:328px;	
	margin-right: 5px;
	height: 80px;		
	min-height: 95px;
	border:ridge;
	border-color:grey;
	border-width:1px;
	overflow-x: hidden;		
}	
		
.mstrmojo-DataGrid-newenvserverlist .mstrmojo-DataGrid-headerText{
	height:0px;	
	visibility:hidden;
	overflow-x: hidden;	
}
		
.mstrmojo-Label-mynewenv{
		
	            font-size:1.1em;
                text-align:left;
                padding-top:5px;
                padding-bottom:4px;
                padding-left: 7px;                
                border-top: 0px solid #b6b6b6;
                border-bottom: 1px solid #b6b6b6;
                background: #ededed; /* Old browsers */
                background: -moz-linear-gradient(top, #ededed 1%, #d8d8d8 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ededed), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* Opera11.10+ */
                background: -ms-linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* IE10+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */
                background: linear-gradient(top, #ededed 1%,#d8d8d8 100%); /* W3C */
                color:#000000;
		
}
		
.mstrmojo-DataGrid-envlist .monitorsizeCol{
	width: 60px;
}
			
.mstrmojo-AddWebServerPortRow{
	padding-right:13px;
}
		
.mstrmojo-AddMobileServerPortRow{
			padding-right:5px;			
}
		
.envgrid-delete-env-button-icon{
	cursor: pointer;
    width: 8px;
    padding-bottom: 1px;		    
    padding-left: 5px;
    padding-right: 1px;
    border-color: #EEE #787878 #787878 #EEE;		    
    background:url(images/delete.gif) no-repeat center right;    
    height: auto;
	border-width: 1px;			  	
}

.select-counter-filers-button-icon{
	cursor: pointer;
    padding-bottom: 1px;		    
    padding-left: 1px;
    padding-right: 15px;
    border-color: #EEE #787878 #787878 #EEE;		    
    background:url(images/delete.gif) no-repeat;    
    background-position:right;
    height: auto;
	border-width: 1px;			  	
}
.select-counter-filters-button{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: #DFEFFC;	
	background-origin: padding-box;
	border-bottom-color: #C5DBEC;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-color: #C5DBEC;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #C5DBEC;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #C5DBEC;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	color: black;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: auto;
	line-height: 16px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	overflow-x: visible;
	overflow-y: visible;
	padding-bottom: 0px;	
	padding-right: 20px;
	padding-top: 0px;
	position: relative;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	width: auto;
	zoom: 1;
}
.drag-left-arrow-button{
	background:url(images/IPA/1arrow_left.gif) no-repeat left;
}

.drag-right-arrow-button{
	background:url(images/IPA/1arrow_right.gif) no-repeat right;
}


/*END of configure environment page css classes*/				

/*START of apply templates css*/
.mstrmojo-TreeBrowser .mstrmojo-TreeNode-state.opened{	
	background: url(images/IPA/apply_template_sprites.gif) no-repeat -1px 1px;
	width: 22px;
	height: 22px;
	margin-left: 5px;
	zoom:90%;
}

.mstrmojo-TreeBrowser .mstrmojo-TreeNode-state.closed{	
	background: url(images/IPA/apply_template_sprites.gif) no-repeat -22px 1px;
	width: 22px;
	height: 22px;
	margin-left: 5px;	
	zoom:90%;
}

.mstrmojo-TreeNode-text.IServer{
	background: url(images/IPA/apply_template_sprites.gif) no-repeat -47px;	
}

.mstrmojo-TreeNode-text.AllIS{
	background: url(images/IPA/apply_template_sprites.gif) no-repeat -47px;	
}

.mstrmojo-TreeNode-text.Web{
	background: url(images/IPA/apply_template_sprites.gif) no-repeat -47px;	
}

 .mstrmojo-TreeNode-text.AllWeb{
 	background: url(images/IPA/apply_template_sprites.gif) no-repeat -47px;	
 }

 .mstrmojo-TreeNode-text.AllMobile{
 	background: url(images/IPA/apply_template_sprites.gif) no-repeat -47px;	
 }
 
.mstrmojo-TreeNode-text.Mobile{
	background: url(images/IPA/apply_template_sprites.gif) no-repeat -47px;	
}

.mstrmojo-TreeNode-text.AllServers{
	background: url(images/IPA/apply_template_sprites.gif) no-repeat -47px;	
}

.mstrmojo-TreeNode-text.EnvLevel{	
	font-weight:600;
	font-size:8pt;	
	color:#171a7b;
}

.mstrmojo-TreeNode-text.MobileLevel{
	font-weight:bold;
	color:#91695D;
}

.mstrmojo-TreeNode-text.WebLevel{
	font-weight:bold;
	color:#356B75;
}

.mstrmojo-TreeNode-text.ILevel{
	font-weight:bold;
	color:#8D9447;
}
.mstrmojo-TreeNode-text.AllServersLevel{
	font-weight:bold;
	color:#836985;
}

.mstrmojo-TreeNode-text.SelectedLanguage{
	color:blue;
}
.mstrmojo-TreeNode-text.BaseLanguage{
	color:black;
}
.mstrmojo-DataGrid-ApplyTemplatesDataGrid{
	width:450px;
}				
				
.mstrmojo-DataGrid-ApplyTemplatesDataGrid .mstrmojo-DataGrid-itemsScrollBox{
	max-height:180px;		
	overflow-x: hidden;	
}

.mstrmojo-DataGrid-ApplyTemplatesDataGrid .mstrmojo-DataGrid-headerText{
	background-color:black;
	color:white;
}

.mstrmojo-applyTemplate-button {
    cursor: pointer;
    width: auto;
    padding-bottom: 1px;
    margin: 5px;	
    padding-left: 2px;
    padding-right: 2px;
    border-color: #EEE #787878 #787878 #EEE;
    border-style: solid;
    background: #D5D6D8 url(images/buttonGradient.gif) repeat-x scroll left 0px;
    height: 18px;
    border-width: 1px;
	font-size:8pt;
    font-weight: bold;
	text-align:justify;
}
/*END of apply templates css*/

/* KI Config properties */

.mstrmojo-IPA-ConfigEntry {
    margin: 10px 10px 10px 10px;
}


.mstrmojo-TreeNode-text {
    background-position: -3px center;
    cursor:pointer;
}

.mstrmojo-TreeNode-text.t2 {
    padding: 3px 0 3px 5px;
}

.mstrmojo-TreeNode-text.t2.NOT_CONFIGURED
{
	color:red;
}

.mstrmojo-TreeNode-text.noCfg
{
	padding: 3px 0 3px 20px;
	color:grey;
	cursor:default;
}

.mstrmojo-TreeNode-text.t0
{
	color:navy;
	background-image: url(images/IPA/machine_normal.gif);
}
.mstrmojo-TreeNode-text.t1
{
	color:navy;
}

.mstrmojo-TreeNode-text.t1.conf
{
	background-image: url(images/IPA/configuration.gif);
}

.mstrmojo-TreeNode-text.t1.desk
{
	background-image: url(images/IPA/desktop.gif);
}

.mstrmojo-TreeNode-text.t1.em
{
	background-image: url(images/IPA/enterpriseMngr.gif);
}

.mstrmojo-TreeNode-text.t1.iserver
{
	background-image: url(images/IPA/iServer.gif);
}

.mstrmojo-TreeNode-text.t1.ncs
{
	background-image: url(images/IPA/ncs.gif);
}

.mstrmojo-TreeNode-text.t1.off
{
	background-image: url(images/IPA/office.gif);
}

.mstrmojo-TreeNode-text.t1.ws
{
	background-image: url(images/IPA/webServices.gif);
}

.mstrmojo-TreeNode-text.t1.web
{
	background-image: url(images/IPA/web.gif);
}

.mstrmojo-TreeNode-text.t2
{
	//background-image: url(images/IPA/systemCheck.gif);
}


.mstrmojo-IPA-SystemCheckTree
{
	height:400px;
	overflow-x: hidden;
    	overflow-y: auto;
}

.mstrmojo-TreeNode-div.selected span
{
	background-color: #bbbbbb;
}

.mstrmojo-IPA-ConfigEntryApplyButton.disabled
{
	color: #888888;
}

.mstrmojo-IPA-CounterList
{
	width:520px;
	height:auto;
	max-height:393px;
	border:none;
}

.mstrmojo-IPA-CounterList .mstrmojo-DataGrid-itemsScrollBox{
max-height:361px;
overflow-y:auto;
overflow-x:hidden;
border-bottom:1px solid #AAA;
}
/*
.mstrmojo-IPA-CounterList .statusCol
{
	width:50px;
}

.mstrmojo-IPA-CounterList .machineCol
{
	width:100px;
}

.mstrmojo-IPA-CounterList .catCol
{
	width:100px;
}

.mstrmojo-IPA-CounterList .instCol
{
	width:100px;
}

.mstrmojo-IPA-CounterList .counterCol
{
	width:100px;
}

.mstrmojo-IPA-CounterList .productCol
{
	width:100px;
}

.mstrmojo-IPA-CounterList .kiCol
{
	width:100px;
}
*/
.mstrmojo-IPA-CounterList-Status-On
{
	background: url(images/btnOn.png) center no-repeat;
	height:20px;
}

.mstrmojo-IPA-CounterList-Status-Off
{
	background: url(images/btnOff.png) center no-repeat;
	height:20px;
}

.mstrmojo-mhaConnect-button{
background: url(../../../images/tick.png) no-repeat center;
}

.mstrmojo-mhaDisconnect-button{
background: url(../../../images/tbCloseAcc.gif) no-repeat center;
}

.mstrmojo-SCCfgWizard-SlideDescription
{
	background-color:#494949;
	border:1px solid #676767;
	color:white;
	font-size:10pt;
	padding:10px;
	overflow:hidden;
}

.mstrmojo-ConfigEntry-Status
{
	color:red;
}

.mstrmojo-ConfigEntry-Help
{
	min-height:10px;
}

.mstrmojo-SCConfigWiz-title
{
	background-color:#3a3a3a;
	width:100%;
}

.mstrmojo-SCConfigWiz-titleText
{
	font-family:Tahoma;
	font-weight:Bold;
	font-size:10pt;
	color:#ffffff;
	padding:10px;
	text-align:left;
}

.mstrmojo-SCConfigWiz-titleRestart
{
	font-family:Tahoma;
	font-size:13pt;
	color:#cccbc6;
	background: url(images/gear.png) left no-repeat;
	padding-left:19px;
	cursor:pointer;
	width:83px;
}

.mstrmojo-SCConfigWiz-titleRestart:hover
{
	text-decoration:underline;
}

.mstrmojo-SCConfigWiz-titleHelp
{
	font-family:Tahoma;
	font-size:10pt;
	color:#cccbc6;
	background: url(images/gear.png) left no-repeat;
	padding-left:20px;
	cursor:pointer;
}

.mstrmojo-SCConfigWiz-titleHelp:hover
{
	text-decoration:underline;

}

.mstrmojo-IPA-PluginTreeNode
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	font-size: 1.2em;
	font-weight: bold;
	width:auto;
}

.mstrmojo-IPA-PluginTreeNode .mstrmojo-IPA-PluginTreeNode
{
	padding-top: 2px;
	padding-bottom: 2px;
	margin-top: 0;
	font-size: 8pt;
	font-weight: normal;
}

.mstrmojo-Wizard-buttons
{
    margin: 0 10px;
    cursor: pointer;
    min-width: 40px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    border-color: #EEE #787878 #787878 #EEE;
    border-style: solid;
    background: #D5D6D8 url(images/buttonGradient.gif) repeat-x scroll left 0px;
    height: auto;
    border-width: 1px;
    font-weight: bold;
    text-align:justify;	
}

.mstrmojo-alert-errorlabel
{
    font-size: 10pt;
    font-weight: bold;
    color: red;
    padding-left: 10px;
}