/*
* MicroStrategy Labs
* Copyright © 1996-2013 MicroStrategy, Incorporated
* CSS file: ipa-jsp.css for ipa.jsp page
*/

.ipa-EnviList-landingPage{
	overflow: visible;
	 -moz-border-radius: 4px;
	font-family: Tahoma, Arial, sans-serif;	
	width:82em;
	border-radius:5px;
	border-spacing:0;
	border-collapse:separated;
	width:98%;
	margin:0;
	height:100%;
	border: 1px solid #BABABA;
	margin-top:15px;
}

.ipa-enviroment-panel {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    overflow: visible;
    border-radius: 4px 4px 4px 4px; 
	border:1px solid #BABABA;
    -moz-border-radius: 4px;
	//-webkit-box-shadow: -1px 0px 1px 1px #AAA,1px 2px 1px 1px #AAA;
	//-moz-box-shadow: -1px 0px 1px 1px #AAA,1px 2px 1px 1px #AAA;
	//box-shadow: inset 1px 1px 1px 1px #AAA,1px 2px 1px 1px #AAA;
	background-image:#f2f2f2; 
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.5, #fafafa), to(#f2f2f2)); 
	background-image:-moz-linear-gradient(top, #fafafa 50%, #f2f2f2);
	background-image: "linear-gradient(top, #fafafa, #f2f2f2)"; 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#f2f2f2')"; /* IE8 */
}

.ipa-env-lbl{
	margin-left:10px;
	border-bottom:1px solid;
	margin-top:3px;
	font-weight:bold;
	font-size:12px;
}

.ipa-env-selectbox{
	margin-left:10px;width:150px;
}


.ipa-smallView-icon{
	background:url(../images/IPA/smallTiles.png) no-repeat center right;
	width:25px;
	height:25px;
	margin-right:10px;
}

.ipa-largeView-icon{
	background:url(../images/IPA/largeTiles.png) no-repeat center right;
	width:25px;
	height:25px;
}


.ipa-env-content{
	max-height:100%;overflow-y:auto;overflow-x:hidden;
}


.ipa-env-titlebar {
	position:relative;
	padding:3px;
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9DDE0', endColorstr='#AAAAAA'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#D8D8D8)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #D9DDE0,  #AAA); /* for firefox 3.6+ */
	color: black;
	font: bold 9pt Tahoma, Arial, Verdana;
	padding: 6px;
	position: relative;
	border-radius: 5px 5px 0 0;
}


.ipa-unconnected-titlebar{
	margin: 10px 0 0 0;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D9DDE0', endColorstr='#AAAAAA'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#D8D8D8)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #D9DDE0,  #AAA); /* for firefox 3.6+ */
	color: black;
	font: bold 9pt Tahoma, Arial, Verdana;
	padding: 6px;
	position: relative;
	border-radius: 5px 5px 0 0;
}

.ipa-unconnected-box{
	background:white;max-height:120px;overflow-y:scroll;
}

.ipa-tile-monitor-link{
	margin-right:10px;text-decoration: underline;cursor: pointer;
}

.ipa-tile-manager-link{
	text-decoration: underline;cursor: pointer;
}